 /* see osa on tabide jaoks*/
 /* Style the list */
ul.tab {
    list-style-type: none;
    margin:0;
    padding: 0;
	overflow: hidden;
    border: 2px solid #a9b3b3;
    background-color: #8f9f9d;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #778b92;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #576873;}

/* Style the tab content */
.tabcontent {
    display: none;
	/*background-image: url('pildid/paper.png');*/
    padding: 30px 30px;
    border-top: none;
	background:white;
}
#container{
	width:850px;
	margin-left:auto;
	margin-right:auto;
}

#content {
	padding: 0px 0px;
	text-align: left-side;
}
/*font */
* {
	font-size:17px;
	font-family: 'Roboto+Condensed';
	margin:0;
}
h1 {
	background-color:white;
    color: #576873;
    text-align: center;
	margin-bottom:0px;
	font-size:22px;
	font-weight: bold;
	padding-top:20px;
}
h2 {
	margin-top:0px;
	font-size:17px;
	padding-top:10px;
}
h3 {
	padding-bottom:5px;
}
p {
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:5px;
}
#body {
	background-color: #e4e6df;
}
#footer {
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:10px;
	text-align:center;
}
iframe {
	margin-bottom:20px;
}


